---
Title: XmlComparer
NoSidebar: true
NoContainer: false
NoGutter: true
---
<script>
if(!document.location.href.endsWith("/")){
  document.location.href = document.location.href + "/"; // or else the relative hyperlinks won't work...
}
</script>
<div class="container">				
	<h1>What is it?</h1>
    <p>
        XmlComparer is a simple library to compare two xml-nodes and get the differences.
    </p>
</div>
<div class="container">
	<h1>Usage</h1>
  <div>
  Check the documentation on <a href="api/XmlComparer/Comparer/">Comparer</a>.
  </div>
</div>